// Background colours
$backgroundColour: #024;
$codeBackgroundColour: #00152A;
$featureBackgroundColour: #541;
$accentColour: #00152A;

// Text colours
$headingColour: #ddd;
$bodyColour: #ddd;
$linkColour: #ca4;
$hoverColour: #F9CF52;
$focusColour: #fa407a;
$captionColour: #024;
$white: #ffffff;

// Typography
$bodytype: (
  font-family: '"charter", Georgia, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: '"charter", Georgia, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);

@font-face {
    font-family: 'charter';
    src: url('/assets/webfonts/charter_bold_italic-webfont.eot');
    src: url('/assets/webfonts/charter_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/webfonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'charter';
    src: url('/assets/webfonts/charter_bold-webfont.eot');
    src: url('/assets/webfonts/charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/webfonts/charter_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'charter';
    src: url('/assets/webfonts/charter_italic-webfont.eot');
    src: url('/assets/webfonts/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/webfonts/charter_italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'charter';
    src: url('/assets/webfonts/charter_regular-webfont.eot');
    src: url('/assets/webfonts/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/webfonts/charter_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
